# 수정일: 2026-01-20
# 수정내용: 프로젝트 협업을 위한 .gitignore 설정 (Python, Node, Docker 관련 제외 항목)

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Node
node_modules/
frontend/node_modules/
frontend/node_modules_old/
dist/
.vite-inspect

# Docker
.dockerignore

# DB
postgres_data/

# OS
.DS_Store
Thumbs.db

# Documentation
doc/

# Agent Skills
amtigravity-skills/
01pseudocode.html
02pseudocode.html
03pseudocode.html

# Frontend
frontend/src/features/practice/not_use/
backend/media/avatars/avatar_75af4ab997b14eee89d196d19c456a1d.png
backend/media/avatars/avatar_b244b8daafc84bbda47779236c41d630.png
backend/media/avatars/preview_1ff65c8b60224d66905f6ab82824dd75.png
backend/media/avatars/preview_53caf55f8c6b4a70b7dd90ac5746e4f5.png
backend/media/avatars/preview_53caf55f8c6b4a70b7dd90ac5746e4f5.png
backend/media/avatars/preview_1ff65c8b60224d66905f6ab82824dd75.png
backend/media/avatars/avatar_b244b8daafc84bbda47779236c41d630.png
backend/media/avatars/avatar_75af4ab997b14eee89d196d19c456a1d.png
backend/media/avatars/preview_da07e014ffb54a3ca2f593f0278a0968.png
